body {
    background-color:   lightgreen;
}

.question {
    color:  white;
    background-color:   black;
}

p {
    color:  blue;
    background-color:   lightgreen;
}

p > em, p > b {
    color:  red;
}

#bow li {
    color:  white;
    background-color:   rebeccapurple;
}

#reading li{
    color:  blue;
    background-color:   white;
}

#reading li:last-child {
   color:   red;
}

li > i {
    color:  black;
}
