{% extends "base.html" %}


{% block header %}
<h1>WElcome!</h1>
{% endblock %}

{% block aside%}
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
{% endblock %}

{% block article%}
<form action="" method="POST" novalidate class="content">
    {{ form.hidden_tag() }}
    {{ form.user_name.label() }}
    {{form.user_name()}}
    {% for error in form.user_name.errors %}
        {{ error }}
    {% endfor%}
    <br>

    {{ form.password.label() }}
    {{form.password()}}
    {% for error in form.password.errors %}
        {{ error }}
    {% endfor%}
    <br>
    
    {{ form.submit() }}
    
</form>
{% endblock%}

{% block footer%}
<p>feetes</p>

{% endblock %}
