body{background:#90ee90;color:#fff;}
.question{color:#fff;background:black;}
p{color:blue;}
p>em,p>b{color:red;}
#bowli{background:#663399;}
#reading li{color:blue;background:#fff;}
#reading li:last-child{color:red;}
li>i,#reading h1{color:black;}
